[Desktop Entry]
Comment=A global theme for KDE Plasma 5 in Dark Nordic colors with transparency, blur and rounded corners for UI elements
Name=Utterly Nord
X-KDE-PluginInfo-Author=Himprakash Deka
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=himprakashd@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=Utterly-Nord
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=www.himdek.com/Utterly-Nord-Plasma
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://aurorae.knsrc/api.kde-look.org/1999020,kns://colorschemes.knsrc/api.kde-look.org/1903937,kns://icons.knsrc/api.kde-look.org/1359276,kns://kwineffect.knsrc/api.kde-look.org/1270407,kns://plasma-themes.knsrc/api.kde-look.org/1901768,kns://plasmoids.knsrc/api.kde-look.org/1819888,kns://plasmoids.knsrc/api.kde-look.org/1897990,kns://plasmoids.knsrc/api.kde-look.org/998895,kns://plasmoids.knsrc/api.kde-look.org/1906579,kns://plasmoids.knsrc/api.kde-look.org/1274218,kns://sddmtheme.knsrc/api.kde-look.org/1909606,kns://wallpaper.knsrc/api.kde-look.org/1904144,kns://xcursor.knsrc/api.kde-look.org/1662218