[Desktop Entry]
Name=Utterly-Nord
X-KDE-PluginInfo-Name=Utterly-Nord
X-KDE-PluginInfo-Author=Himprakash Deka
X-KDE-PluginInfo-Email=himprakashd@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+